@import '~/styles/variable.module.scss';

.topContainer {
  padding: 18px 180px;
  gap: 36px;
  font-size: 18px;
  font-family: 'Open Sans', Arial, serif;
  display: flex;
  flex-direction: column;
  position: relative;
  h3 {
    color: $primary-color;
    font-size: 25px;
    margin: 30px 0 7px 0;
    font-family: Impact, Arial, serif;
  }
  .discription {
    text-align: center;
    font-weight: 300;
    line-height: 1.8;
  }
  .newsSection {
    display: flex;
    gap: 18px;
    .iframeArea {
      display: grid;
      width: 100%;
      gap: 18px;
      iframe {
        width: 100%;
        min-height: 500px;
        body {
          margin: 0;
          padding: 0;
          width: 100%;
        }
      }
    }
  }
  .cardArea {
    width: 100%;
  }
}

.newsCard {
  background: center center;
  min-height: 500px;
  background-size: cover;
  width: 100%;
  background-image: url('/images/sinkan.jpg');
  position: relative;

  .desc {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #ffffff;
    opacity: 0.8;
    width: 100%;
    position: absolute;
    bottom: 0;
    gap: 5px;
  }
}
