@import '~/styles/variable.module.scss';

.layoutWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 100vh;
  background-color: $base-bg-color;
  .layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1370px;
    background-color: #ffffff;
  }
}
