@import '~/styles/variable.module.scss';

.footer {
  background-color: $primary-color;
  font-family: 'Open Sans', Arial, serif;
  display: flex;
  flex-direction: column;
  padding: 60px 0 40px;
  color: $text-color-white;
  align-items: center;
  gap: 14px;
  a {
    color: $text-color-white;
  }
}

.iconWrapper {
  display: flex;
  gap: 20px;
  .icon {
    color: $text-color-white;
    font-size: 34px;
  }
}
